apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dynamic-web
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: 'https://github.com/the-dev-collection/gitops-dynamic-webapp-sidecar'
    targetRevision: HEAD
    path: k8s
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: dynamic-web
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
